<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/thug/eclipse-workspace/RestAssuredProject/src/test/java/backendtests/GetTest.java"><classes><class name="backendtests.GetTest"><methods><include name="testListUsers"/><include name="testSingleUser"/><include name="testSingleUserNotFound"/><include name="testListResource"/><include name="testSingleResource"/><include name="testSingleResourceNotFound"/><include name="testDelayedResponse"/><include name="testDataId0OnPage2Is7"/><include name="testDataId1Is8"/><include name="testDataFirstNameHasMichaelAndLindsay"/></methods></class></classes></test></suite>